In [2]:
import pandas as pd

In [2]:
df_kode = pd.read_csv('kabupaten_with_kode.csv')

In [3]:
df_kode

     Unnamed: 0   kode            kabupaten
0             0  96.71          KOTA SORONG
1             1  96.05         KAB. MAYBRAT
2             2  96.04        KAB. TAMBRAUW
3             3  96.03      KAB. RAJA AMPAT
4             4  96.02  KAB. SORONG SELATAN
..          ...    ...                  ...
547         547  11.04     KAB. ACEH TENGAH
548         548  11.03      KAB. ACEH TIMUR
549         549  11.02   KAB. ACEH TENGGARA
550         550  11.01    KAB. ACEH SELATAN
551         551  11.00                 ACEH

[552 rows x 3 columns]

In [4]:
df_kode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 552 entries, 0 to 551
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  552 non-null    int64
 1   kode        552 non-null    float64
 2   kabupaten   552 non-null    object
dtypes: float64(1), int64(1), object(1)
memory usage: 13.1+ KB

In [27]:
df_internet = pd.read_csv('Dataset Jumlah Desa_Kelurahan menurut Kabupaten_Kota dalam Penerimaan Sinyal Internet Telepon Seluler - Data.csv')

In [28]:
df_internet

,PROVINSI,Kode Kabupaten,KABUPATEN,5G/4G/LTE_2021,3G/H/H+/EVDO_2021,"2,5G/E/GPRS_2021",5G/4G/LTE_2024,3G/H/H+/EVDO_2024,"2,5G/E/GPRS_2024"
0,ACEH,NaN,Simeulue,102.0,17.0,11.0,128,3.0,3.0
1,ACEH,NaN,Aceh Singkil,89.0,24.0,5.0,107,11.0,1.0
2,ACEH,NaN,Aceh Selatan,187.0,60.0,5.0,240,16.0,1.0
3,ACEH,NaN,Aceh Tenggara,313.0,49.0,5.0,358,13.0,3.0
4,ACEH,NaN,Aceh Timur,349.0,125.0,23.0,426,62.0,11.0
...,...,...,...,...,...,...,...,...,...
509,MALUKU UTARA,NaN,Halmahera Timur,NaN,NaN,NaN,79,6.0,17.0
510,MALUKU UTARA,NaN,Pulau Morotai,NaN,NaN,NaN,75,4.0,6.0
511,MALUKU UTARA,NaN,Pulau Taliabu,NaN,NaN,NaN,64,6.0,0.0
512,MALUKU UTARA,NaN,Kota Ternate,NaN,NaN,NaN,66,5.0,4.0
513,MALUKU UTARA,NaN,Kota Tidore Kepulauan,NaN,NaN,NaN,67,11.0,11.0

In [29]:
df_internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PROVINSI           514 non-null    object
 1   Kode Kabupaten     0 non-null      float64
 2   KABUPATEN          514 non-null    object
 3   5G/4G/LTE_2021     484 non-null    float64
 4   3G/H/H+/EVDO_2021  484 non-null    float64
 5   2,5G/E/GPRS_2021   484 non-null    float64
 6   5G/4G/LTE_2024     514 non-null    int64
 7   3G/H/H+/EVDO_2024  497 non-null    float64
 8   2,5G/E/GPRS_2024   497 non-null    float64
dtypes: float64(6), int64(1), object(2)
memory usage: 36.3+ KB

In [30]:
# def clean_kabupaten_name(name):
#     """
#     Cleans and standardizes kabupaten names by:
#     1. Converting to uppercase
#     2. Removing leading/trailing spaces
#     3. Removing common prefixes like 'KAB.', 'KABUPATEN', 'KOTA'
#     """
#     name = name.upper().strip()
#     # Remove prefixes. Use regex to handle spaces and dots after the prefix.
#     name = re.sub(r'^(KAB\.?|KABUPATEN)\s?', '', name)
#     return name

def clean_kabupaten_name(name):
    """
    Cleans and standardizes kabupaten names by:
    1. Converting to lowercase
    2. Removing all spaces
    3. Removing common prefixes like 'KAB.', 'KABUPATEN', 'KOTA'
    """
    name = str(name).lower().strip()
    # Remove prefixes. Use regex to handle spaces and dots after the prefix.
    name = re.sub(r'^(kab\.?|kabupaten|kota)\s?', '', name)
    # Remove all remaining spaces
    name = re.sub(r'\s+', '', name)
    return name

# Apply the cleaning function to both DataFrames
import re

df_internet['kabupaten_clean'] = df_internet['KABUPATEN'].apply(clean_kabupaten_name)
df_kode['kabupaten_clean'] = df_kode['kabupaten'].apply(clean_kabupaten_name)

print("\nDataFrame 1 with cleaned names:")
print(df_internet[['KABUPATEN', 'kabupaten_clean']])
print("\nDataFrame 2 with cleaned names:")
print(df_kode[['kabupaten', 'kabupaten_clean']])

DataFrame 1 with cleaned names:
                 KABUPATEN  kabupaten_clean
0                 Simeulue         simeulue
1             Aceh Singkil      acehsingkil
2             Aceh Selatan      acehselatan
3            Aceh Tenggara     acehtenggara
4               Aceh Timur        acehtimur
..                     ...              ...
509        Halmahera Timur   halmaheratimur
510          Pulau Morotai     pulaumorotai
511          Pulau Taliabu     pulautaliabu
512           Kota Ternate          ternate
513  Kota Tidore Kepulauan  tidorekepulauan

[514 rows x 2 columns]

DataFrame 2 with cleaned names:
               kabupaten kabupaten_clean
0            KOTA SORONG          sorong
1           KAB. MAYBRAT         maybrat
2          KAB. TAMBRAUW        tambrauw
3        KAB. RAJA AMPAT       rajaampat
4    KAB. SORONG SELATAN   sorongselatan
..                   ...             ...
547     KAB. ACEH TENGAH      acehtengah
548      KAB. ACEH TIMUR       acehtimur
549   KAB. ACEH TENGGARA    acehtenggara
550    KAB. ACEH SELATAN     acehselatan
551                 ACEH            aceh

[552 rows x 2 columns]

In [31]:
# Find the set difference
missing_kabupaten = set(df_kode['kabupaten_clean']) - set(df_internet['kabupaten_clean'])

print("Kabupaten in the reference list (df2) not found in your main data (df1):")
missing_kabupaten

Kabupaten in the reference list (df2) not found in your main data (df1):

{'aceh',
 'adm.jakartabarat',
 'adm.jakartapusat',
 'adm.jakartaselatan',
 'adm.jakartatimur',
 'adm.jakartautara',
 'adm.kep.seribu',
 'bali',
 'banten',
 'daerahistimewayogyakarta',
 'dkijakarta',
 'jawabarat',
 'jawatengah',
 'jawatimur',
 'kalimantanbarat',
 'kalimantanselatan',
 'kalimantantengah',
 'kalimantantimur',
 'kalimantanutara',
 'kep.siautagulandangbiaro',
 'kepulauanbangkabelitung',
 'kepulauanriau',
 'kotabaru',
 'kotawaringinbarat',
 'kotawaringintimur',
 'lampung',
 'maluku',
 'malukuutara',
 'nusatenggarabarat',
 'nusatenggaratimur',
 'padangsidempuan',
 'papua',
 'papuabarat',
 'papuabaratdaya',
 'papuapegunungan',
 'papuaselatan',
 'papuatengah',
 'riau',
 'sulawesibarat',
 'sulawesiselatan',
 'sulawesitengah',
 'sulawesitenggara',
 'sulawesiutara',
 'sumaterabarat',
 'sumateraselatan',
 'sumaterautara',
 'toba',
 'tojounauna',
 'tolitoli'}

In [32]:
print(len(missing_kabupaten))

49

In [33]:
# --- PERFORM THE LOOKUP/MERGE ---
# Create a mapping dictionary from the reference dataframe
kode_mapping = df_kode.set_index('kabupaten_clean')['kode'].to_dict()

# Map the kode values to the main dataframe
df_internet['Kode_Kabupaten'] = df_internet['kabupaten_clean'].map(kode_mapping)

# --- CHECK FOR MISSING MATCHES ---
missing_mask = df_internet['Kode_Kabupaten'].isna()
missing_count = missing_mask.sum()

print("\n" + "="*60)
print("MERGE RESULTS:")
print("="*60)
print(f"Successfully matched: {len(df_internet) - missing_count} kabupaten")
print(f"Failed to match: {missing_count} kabupaten")

if missing_count > 0:
    print("\nKabupaten that could not be matched (no kode found):")
    print(df_internet[missing_mask]['KABUPATEN'].tolist())

# --- FINAL DATAFRAME ---
# You can drop the temporary clean column if you want
df1_final = df_internet.drop('kabupaten_clean', axis=1)

print("\n" + "="*60)
print("FINAL DATAFRAME WITH KODES:")
print("="*60)
print(df1_final)

============================================================
MERGE RESULTS:
============================================================
Successfully matched: 500 kabupaten
Failed to match: 14 kabupaten

Kabupaten that could not be matched (no kode found):
['Kepulauan Seribu', 'Kota Jakarta Selatan', 'Kota Jakarta Timur', 'Kota Jakarta Pusat', 'Kota Jakarta Barat', 'Kota Jakarta Utara', 'Kota Baru', 'Kotawaringin Barat', 'Kotawaringin Timur', 'Toli-Toli', 'Tojo Una-Una', 'Siau Tagulandang Biaro', 'Toba Samosir', 'Kota Padangsidimpuan']

============================================================
FINAL DATAFRAME WITH KODES:
============================================================
         PROVINSI  Kode Kabupaten              KABUPATEN  5G/4G/LTE_2021  \
0            ACEH             NaN               Simeulue           102.0
1            ACEH             NaN           Aceh Singkil            89.0
2            ACEH             NaN           Aceh Selatan           187.0
3            ACEH             NaN          Aceh Tenggara           313.0
4            ACEH             NaN             Aceh Timur           349.0
..            ...             ...                    ...             ...
509  MALUKU UTARA             NaN        Halmahera Timur             NaN
510  MALUKU UTARA             NaN          Pulau Morotai             NaN
511  MALUKU UTARA             NaN          Pulau Taliabu             NaN
512  MALUKU UTARA             NaN           Kota Ternate             NaN
513  MALUKU UTARA             NaN  Kota Tidore Kepulauan             NaN

     3G/H/H+/EVDO_2021  2,5G/E/GPRS_2021  5G/4G/LTE_2024  3G/H/H+/EVDO_2024  \
0                 17.0              11.0             128                3.0
1                 24.0               5.0             107               11.0
2                 60.0               5.0             240               16.0
3                 49.0               5.0             358               13.0
4                125.0              23.0             426               62.0
..                 ...               ...             ...                ...
509                NaN               NaN              79                6.0
510                NaN               NaN              75                4.0
511                NaN               NaN              64                6.0
512                NaN               NaN              66                5.0
513                NaN               NaN              67               11.0

     2,5G/E/GPRS_2024  Kode_Kabupaten
0                 3.0           11.09
1                 1.0           11.10
2                 1.0           11.01
3                 3.0           11.02
4                11.0           11.03
..                ...             ...
509              17.0           82.06
510               6.0           82.07
511               0.0           82.08
512               4.0           82.71
513              11.0           82.72

[514 rows x 10 columns]

In [34]:
column_order = ['Kode_Kabupaten', 'PROVINSI', 'KABUPATEN', '5G/4G/LTE_2021', 
                '3G/H/H+/EVDO_2021', '2,5G/E/GPRS_2021', '5G/4G/LTE_2024', 
                '3G/H/H+/EVDO_2024', '2,5G/E/GPRS_2024']

# Only include columns that actually exist in your dataframe
column_order = [col for col in column_order if col in df1_final.columns]
df1_final = df1_final[column_order]

print(df1_final)

     Kode_Kabupaten      PROVINSI              KABUPATEN  5G/4G/LTE_2021  \
0             11.09          ACEH               Simeulue           102.0
1             11.10          ACEH           Aceh Singkil            89.0
2             11.01          ACEH           Aceh Selatan           187.0
3             11.02          ACEH          Aceh Tenggara           313.0
4             11.03          ACEH             Aceh Timur           349.0
..              ...           ...                    ...             ...
509           82.06  MALUKU UTARA        Halmahera Timur             NaN
510           82.07  MALUKU UTARA          Pulau Morotai             NaN
511           82.08  MALUKU UTARA          Pulau Taliabu             NaN
512           82.71  MALUKU UTARA           Kota Ternate             NaN
513           82.72  MALUKU UTARA  Kota Tidore Kepulauan             NaN

     3G/H/H+/EVDO_2021  2,5G/E/GPRS_2021  5G/4G/LTE_2024  3G/H/H+/EVDO_2024  \
0                 17.0              11.0             128                3.0
1                 24.0               5.0             107               11.0
2                 60.0               5.0             240               16.0
3                 49.0               5.0             358               13.0
4                125.0              23.0             426               62.0
..                 ...               ...             ...                ...
509                NaN               NaN              79                6.0
510                NaN               NaN              75                4.0
511                NaN               NaN              64                6.0
512                NaN               NaN              66                5.0
513                NaN               NaN              67               11.0

     2,5G/E/GPRS_2024
0                 3.0
1                 1.0
2                 1.0
3                 3.0
4                11.0
..                ...
509              17.0
510               6.0
511               0.0
512               4.0
513              11.0

[514 rows x 9 columns]

In [35]:
df1_final.to_csv('telecom_data_with_kode_kabupaten_irul.csv', index=False)

In [52]:
final = pd.read_csv('telecom_data_with_kode_kabupaten_irul.csv')

In [ ]:
final

,Kode_Kabupaten,PROVINSI,KABUPATEN,5G/4G/LTE_2021,3G/H/H+/EVDO_2021,"2,5G/E/GPRS_2021",5G/4G/LTE_2024,3G/H/H+/EVDO_2024,"2,5G/E/GPRS_2024"
0,11.09,ACEH,Simeulue,102.0,17.0,11.0,128,3.0,3.0
1,11.10,ACEH,Aceh Singkil,89.0,24.0,5.0,107,11.0,1.0
2,11.01,ACEH,Aceh Selatan,187.0,60.0,5.0,240,16.0,1.0
3,11.02,ACEH,Aceh Tenggara,313.0,49.0,5.0,358,13.0,3.0
4,11.03,ACEH,Aceh Timur,349.0,125.0,23.0,426,62.0,11.0
...,...,...,...,...,...,...,...,...,...
509,82.06,MALUKU UTARA,Halmahera Timur,NaN,NaN,NaN,79,6.0,17.0
510,82.07,MALUKU UTARA,Pulau Morotai,NaN,NaN,NaN,75,4.0,6.0
511,82.08,MALUKU UTARA,Pulau Taliabu,NaN,NaN,NaN,64,6.0,0.0
512,82.71,MALUKU UTARA,Kota Ternate,NaN,NaN,NaN,66,5.0,4.0
513,82.72,MALUKU UTARA,Kota Tidore Kepulauan,NaN,NaN,NaN,67,11.0,11.0

In [38]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Kode_Kabupaten     500 non-null    float64
 1   PROVINSI           514 non-null    object
 2   KABUPATEN          514 non-null    object
 3   5G/4G/LTE_2021     484 non-null    float64
 4   3G/H/H+/EVDO_2021  484 non-null    float64
 5   2,5G/E/GPRS_2021   484 non-null    float64
 6   5G/4G/LTE_2024     514 non-null    int64
 7   3G/H/H+/EVDO_2024  497 non-null    float64
 8   2,5G/E/GPRS_2024   497 non-null    float64
dtypes: float64(6), int64(1), object(2)
memory usage: 36.3+ KB

In [46]:
# Find rows where Kode_Kabupaten is missing/NaN
missing_kode_rows = final[final['Kode_Kabupaten'].isnull()]
print("\nRows where Kode_Kabupaten is MISSING:")
missing_kode_rows

Rows where Kode_Kabupaten is MISSING:

,Kode_Kabupaten,PROVINSI,KABUPATEN,5G/4G/LTE_2021,3G/H/H+/EVDO_2021,"2,5G/E/GPRS_2021",5G/4G/LTE_2024,3G/H/H+/EVDO_2024,"2,5G/E/GPRS_2024"
55,NaN,DKI JAKARTA,Kepulauan Seribu,5.0,1.0,0.0,5,1.0,0.0
56,NaN,DKI JAKARTA,Kota Jakarta Selatan,65.0,0.0,0.0,64,0.0,0.0
57,NaN,DKI JAKARTA,Kota Jakarta Timur,63.0,1.0,1.0,65,0.0,0.0
58,NaN,DKI JAKARTA,Kota Jakarta Pusat,44.0,0.0,0.0,44,0.0,0.0
59,NaN,DKI JAKARTA,Kota Jakarta Barat,56.0,0.0,0.0,56,0.0,0.0
60,NaN,DKI JAKARTA,Kota Jakarta Utara,31.0,0.0,0.0,31,0.0,0.0
193,NaN,KALIMANTAN SELATAN,Kota Baru,120.0,71.0,5.0,140,47.0,12.0
205,NaN,KALIMANTAN TENGAH,Kotawaringin Barat,69.0,10.0,9.0,83,11.0,2.0
206,NaN,KALIMANTAN TENGAH,Kotawaringin Timur,78.0,54.0,35.0,125,39.0,16.0
371,NaN,SULAWESI TENGAH,Toli-Toli,67.0,8.0,17.0,96,4.0,8.0
374,NaN,SULAWESI TENGAH,Tojo Una-Una,94.0,4.0,4.0,140,2.0,4.0
427,NaN,SULAWESI UTARA,Siau Tagulandang Biaro,61.0,6.0,10.0,75,4.0,5.0
476,NaN,SUMATRA UTARA,Toba Samosir,187.0,31.0,12.0,208,18.0,7.0
502,NaN,SUMATRA UTARA,Kota Padangsidimpuan,78.0,1.0,0.0,79,0.0,0.0

In [64]:
final['Kode_Kabupaten'] = final['Kode_Kabupaten'].astype(str)

In [66]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Kode_Kabupaten     514 non-null    object
 1   PROVINSI           514 non-null    object
 2   KABUPATEN          514 non-null    object
 3   5G/4G/LTE_2021     484 non-null    float64
 4   3G/H/H+/EVDO_2021  484 non-null    float64
 5   2,5G/E/GPRS_2021   484 non-null    float64
 6   5G/4G/LTE_2024     514 non-null    int64
 7   3G/H/H+/EVDO_2024  497 non-null    float64
 8   2,5G/E/GPRS_2024   497 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 36.3+ KB

In [67]:
final.to_csv('internet_kabupaten_irul.csv')

In [69]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Kode_Kabupaten     514 non-null    object
 1   PROVINSI           514 non-null    object
 2   KABUPATEN          514 non-null    object
 3   5G/4G/LTE_2021     484 non-null    float64
 4   3G/H/H+/EVDO_2021  484 non-null    float64
 5   2,5G/E/GPRS_2021   484 non-null    float64
 6   5G/4G/LTE_2024     514 non-null    int64
 7   3G/H/H+/EVDO_2024  497 non-null    float64
 8   2,5G/E/GPRS_2024   497 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 36.3+ KB

In [3]:
final = pd.read_csv('internet_kabupaten_irul.csv')

In [7]:
final['KABUPATEN'].head(50)

0              Simeulue
1          Aceh Singkil
2          Aceh Selatan
3         Aceh Tenggara
4            Aceh Timur
5           Aceh Tengah
6            Aceh Barat
7            Aceh Besar
8                 Pidie
9               Bireuen
10           Aceh Utara
11      Aceh Barat Daya
12            Gayo Lues
13         Aceh Tamiang
14           Nagan Raya
15            Aceh Jaya
16         Bener Meriah
17           Pidie Jaya
18           Banda Aceh
19               Sabang
20               Langsa
21          Lhokseumawe
22         Subulussalam
23             Jembrana
24              Tabanan
25               Badung
26              Gianyar
27            Klungkung
28               Bangli
29           Karangasem
30             Buleleng
31             Denpasar
32           Pandeglang
33                Lebak
34            Tangerang
35               Serang
36            Tangerang
37              Cilegon
38               Serang
39    Tangerang Selatan
40     Bengkulu Selatan
41        Rejang Lebong
42       Bengkulu Utara
43                 Kaur
44               Seluma
45             Mukomuko
46               Lebong
47            Kepahiang
48      Bengkulu Tengah
49        Kota Bengkulu
Name: KABUPATEN, dtype: object